@use "../util" as *;

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 5px;
  opacity: 50%;
  font-weight: var(--font-regular);
  font-size: 1.1rem;
  line-height: 1.9rem;
}

button {
  border: none;
  background-color: var(--moderate-cyan);
  border-radius: 50px;
  padding: 20px 30px;
}

.button-smaller {
  padding-inline: 40px;
  font-weight: var(--font-bold);
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background 100ms ease-in-out;
}

.button-smaller:hover {
  background: var(--dark-cyan);
}

section {
  margin-inline: 50px;
}

@media (max-width: 550px) {
  section {
    margin-inline: 20px;
  }

  .back-project-popup {
    right: 20px !important;
    left: 20px !important;
  }
}
