@use "../util" as *;

.back-project-popup {
  @include card;
  max-width: 925px;
  position: absolute;
  z-index: 10;
  top: 250px;
  right: 0;
  left: 0;
  margin-inline: auto;
  margin-bottom: 0;

  .close-popup {
    background-image: url("../../../images/icon-close-modal.svg");
    width: 15px;
    height: 15px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    transition: background 100ms ease-in-out;
  }

  .close-popup:hover {
    background-image: url("../../../images/icon-close-modal-hover.svg");
  }

  h3 {
    font-size: 1.5rem;
    font-weight: var(--font-bold);
  }

  .card {
    @include card;
    padding: 30px 20px;
    display: flex;
    position: relative;

    .radio-container {
      margin-right: 20px;
    }

    label {
      font-size: 1.1rem;
      font-weight: var(--font-bold);
      cursor: pointer;
      transition: color 100ms ease-in-out;
    }

    label:hover {
      color: var(--moderate-cyan);
    }

    input[type="radio"] {
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      outline: none;
      border: 1px solid gray;
      cursor: pointer;
      transition: border 100ms ease-in-out;
    }

    input[type="radio"]:before {
      content: "";
      display: block;
      width: 60%;
      height: 60%;
      margin: 20% auto;
      border-radius: 50%;
    }

    input[type="radio"]:checked:before {
      background: var(--moderate-cyan);
    }

    input[type="radio"]:checked {
      border-color: var(--moderate-cyan);
    }

    input[type="radio"]:hover {
      border-color: var(--moderate-cyan);
    }

    .radio-button-clicked,
    .radio-button-hovered {
      color: var(--moderate-cyan);
    }

    .always-cyan {
      margin-left: 1rem;
      color: var(--moderate-cyan);
    }
  }

  .bold {
    font-weight: var(--font-bold);
    font-size: 1.3rem;
    margin-right: 0.25em;
  }

  .opacity {
    opacity: 0.5;
  }

  .pledges-left {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 1;
  }
  .p-1 {
    position: absolute;
    right: 90px;
    top: 365px;
    opacity: 1;
  }

  .p-2 {
    position: absolute;
    right: 90px;
    top: 565px;
    opacity: 1;
  }

  .p-3 {
    position: absolute;
    right: 90px;
    top: 765px;
    opacity: 1;
  }
}

.transparent-background {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.2;
}

.invisible {
  visibility: hidden;
}
