@use "../util" as *;

.starter {
  @include card;

  .logo {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  text-align: center;

  h2 {
    font-size: 2.25rem;
    color: var(--black);
  }

  p {
    margin-bottom: 40px;
    letter-spacing: 0.05rem;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  .button {
    height: 56px;
    font-weight: var(--font-bold);
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    color: white;
    cursor: pointer;
    transition: background 100ms ease-in-out;
  }

  .button:hover {
    background-color: var(--dark-cyan);
  }

  .bookmark {
    height: 56px;
    padding-left: 0;
    padding-right: 25px;
    text-align: center;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    font-weight: var(--font-bold);
    font-size: 1.1rem;
    color: var(--dark-gray);
    cursor: pointer;
    transition: opacity 100ms ease-in-out;

    img {
      margin-right: 10px;
    }
  }

  .bookmark-mobile {
    display: none;
  }

  .bookmark:hover,
  .bookmark-mobile:hover {
    opacity: 75%;
  }

  .bookmarked {
    color: var(--dark-cyan);
  }

  @media (max-width: 650px) {
    padding: 50px 30px;

    .bookmark {
      display: none;
    }

    .bookmark-mobile {
      display: block;
      width: 56px;
      height: 56px;
      border: none;
      background-color: white;
      border-radius: 50px;
      padding: 0;
      transition: opacity 100ms ease-in-out;
      cursor: pointer;
    }
  }

  @media (max-width: 550px) {
    margin-inline: 20px;
  }

  @media (max-width: 400px) {
    .button {
      width: 100%;
      margin-right: 20px;
      font-size: 1rem;
      text-align: center;
      letter-spacing: 0;
    }
  }

  @media (max-width: 470px) {
    h2 {
      font-size: 1.7rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      letter-spacing: 0rem;
    }
  }
}
